
<%- include('includes/header', {status: program.status}); %>



<style>
    
    aside
    {
        height:5em;
        display:block;
        position: fixed;
    }
    aside .logo
    {
        margin-top:0;
    }
    
    .content {
        width: 100%;
        margin-left: 0;
        padding-top: 5em;
        padding-left: 0em;
        padding-right:0em;
    }
    header .analyzeHeader
    {
        display: flex;
    }
    header .menuContainer-btn
    {
        display: none;
    }
    header .analyzeHeader a {
        z-index: 9999999;
}
</style>

<!-- view de analise -->

<main class='mainAnalyze'>
    
    <div class='container'>
        <form id="form_save_analyze">
            <input type="hidden" name="id_programacao" value="<%=program.id%>"/>
        <div class='leftposition'>
            <div class='analyzeVideoBox'>
                <video src="<%=program.link_video%>" controls></video>
            </div>
            <div class='HeaderAnalyze-Name'>
                <span>
                    <h2><%=program.nome%></h2>
                    <p><%=program.dia_emissao.toLocaleString()%></p>
                </span>
                
                <a href="<%=program.link_video%>" download><img src="/img/download.svg" alt=""></a>
            </div>
            <div class='Userplace infosPlace infosPlaceActive'>
                <div class='infosPlaceheader'>
                    <h5>Informações básicas</h5>
                    <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    <span>
                        <label for="Nome">Nome do Programa:</label>
                        <input name="nome_programa" type="text" placeholder="Digite o nome do programa" value='Program-DE23D2' value='nome_programa'>
                    </span>
                    <span>
                        <label for="Emissora">Nome da Emissora:</label>
                        <input name="nome_emissora" type="text" placeholder="Digite o nome da emissora" value='nome_emissora'>
                    </span>
                    <span>
                        <label for="DiaT">Dia de transmissão:</label>
                        <select name="dia_transmissao" id="DiaT">
                            <option value="">Informe o dia de transmissão</option>
                            <option value="1">Segunda-feira</option>
                            <option value="2">Terça-feira</option>
                            <option value="3">Quarta-feira</option>
                            <option value="4">Quinta-feira</option>
                            <option value="5">Sexta-feira</option>
                            <option value="6">Sábado-feira</option>
                            <option value="7">Domingo-feira</option>
                        </select>
                    </span>
                    
                    <span>
                        <label for="genero">Gênero:</label>
                        <select name="genero" id="genero">
                            <option value="">Informe o gênero</option>
                            <option value='01'>Auditório</option>
                            <option value="02">Colunismo Social</option>
                            <option value="03">Culinário</option>
                            <option value="04">Debate</option>
                            <option value="05"> Desenho Animado</option>
                            <option value="06">Documentário</option>
                            <option value="07">Educativo</option>
                            <option value="08">Entrevista</option>
                            <option value="09">Especial</option>
                            <option value="10">Esportivo/transmissão ao vivo</option>
                            <option value="11">Espetivo/gravado</option>
                            <option value="12">Game show</option>
                            <option value="13">Humorístico</option>
                            <option value="14">Infantil</option>
                            <option value="15">Informativo</option>
                            <option value="16">Interativo</option>
                            <option value="17">Minissérie</option>
                            <option value="18">Musical/Show</option>
                            <option value="19">Novela</option>
                            <option value="20">Programas que trabalham com o sensacional da vida cotidiana</option>
                            <option value="21">Horário político</option>
                            <option value="22">Debate político</option>
                            <option value="23">Reality Show</option>
                            <option value="24">Missa</option>
                            <option value="25">Culto religioso</option>
                            <option value="26">Série</option>
                            <option value="27">Seriado</option>
                            <option value="28">Sitcom</option>
                            <option value="29">Sorteio</option>
                            <option value="30">Talkshow</option>
                            <option value="31">Telejornalismo</option>
                            <option value="32">Variedade</option>
                            <option value="33">Revista eletrônica</option>
                            <option value="34">Outros</option>
                            
                            
                        </select>
                    </span>
                    <span>
                        <label for="Idioma">Idioma:</label>
                        <select name="idioma" id="Idioma">
                            <option value="">Selecione o idioma do programa</option>
                            <option value="1">Português</option>
                            <option value="2">Inglês</option>
                            <option value="3">Espanhol</option>
                            <option value="4">Outros idiomas</option>
                        </select>
                    </span>
                    <span>
                        <label for="Nacionalidade">Nacionalidade de produção:</label>
                        <select name="nacionalidade_producao" id="Nacionalidade">
                            <option value="">Informa a nacionalidade de produção</option>
                            <option value="1">Produção nacional</option>
                            <option value="2">Produção regional</option>
                            <option value="3">Produção local</option>
                            <option value="4">Produção dos Estados Unidos</option>
                            <option value="5">Produção do México</option>
                            <option value="6">Produção de outros países</option>
                        </select>
                        
                    </span>
                    <span>
                        <label for="Leitura">O conteúdo é:</label>
                        <select name="conteudo" id="leitura">
                            <option value="Informe qual é o tipo de leitura">Informe qual é o tipo de leitura</option>
                            <option value="1">Legendado</option>
                            <option value="2">Dublado</option>
                            <option value="3">Não se especifica</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class='Userplace infosPlace'>
                <div class='infosPlaceheader'>
                    <h5>Análise de conteúdo</h5>
                    <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    
                    <span>
                        <label for="ClassificacaoEmissora">Classificação inicativa inicialmente divulgada pela emissora:</label>
                        <select name="classificacao_indicativa" id="ClassificacaoEmissora">
                            <option value=""> Selecione a Classificação</option>
                            <option value="Livre">Livre</option>
                            <option value="1">10 anos</option>
                            <option value="2">12 anos</option>
                            <option value="3">14 anos</option>
                            <option value="4">16 anos</option>
                            <option value="5">18 anos</option>
                        </select>
                    </span>
                    
                    <span>
                        <label for="Enredo">Enredo do conteúdo</label>
                        <select name="enredo_conteudo" id="Enredo">
                            <option value="">Selecione o enredo</option>
                            <option value='01'>Ação   </option>
                            <option value='02'>Animação  </option>
                            <option value='03'>Animação Digital  </option>
                            <option value='04'>Arte  </option>
                            <option value='05'>Artes marciais  </option>
                            <option value='06'>Aventura  </option>
                            <option value='07'>Aventura bíblica  </option>
                            <option value='08'>Aventura de assalto  </option>
                            <option value='09'>Aventura de guerra  </option>
                            <option value='10'>Aventura juvenil  </option>
                            <option value='11'>Aventura policial  </option>
                            <option value='12'>Bíblico  </option>
                            <option value='13'>Capa-espada  </option>
                            <option value='14'>Chanchada  </option>
                            <option value='15'>Chanchada Musical  </option>
                            <option value='16'>Ciência e tecnologia  </option>
                            <option value='17'>Clássico  </option>
                            <option value='18'>Comédia  </option>
                            <option value='19'>Comédia clássica  </option>
                            <option value='20'>Comédia de humor negro  </option>
                            <option value='21'>Comédia dramática  </option>
                            <option value='22'>Comédia de faroeste  </option>
                            <option value='23'>Comédia infantil  </option>
                            <option value='24'>Comédia juvenil  </option>
                            <option value='25'>Comédia musical  </option>
                            <option value='26'>Comédia pastelão  </option>
                            <option value='27'>Comédia policial  </option>
                            <option value='28'>Comédia romântica  </option>
                            <option value='29'>Comportamento e vida cotidiana  </option>
                            <option value='30'>Desenho animado  </option>
                            <option value='31'>Didático  </option>
                            <option value='32'>Drama  </option>
                            <option value='33'>Drama biográfico  </option>
                            <option value='34'>Drama de prisão  </option>
                            <option value='35'>Drama de guerra  </option>
                            <option value='36'>Drama erótico  </option>
                            <option value='37'>Drama esportivo  </option>
                            <option value='38'>Drama histórico   </option>
                            <option value='39'>Drama policial  </option>
                            <option value='40'>Drama político  </option>
                            <option value='41'>Drama religioso  </option>
                            <option value='42'>Drama romântico  </option>
                            <option value='43'>Educativo  </option>
                            <option value='44'>Épico  </option>
                            <option value='45'>Erótico  </option>
                            <option value='46'>Espionagem  </option>
                            <option value='47'>Fantasia  </option>
                            <option value='48'>Fantasia juvenil  </option>
                            <option value='49'>Faroeste  </option>
                            <option value='50'>Ficção científica  </option>
                            <option value='51'>Filme-catástrofe     </option>
                            <option value='52'>Filme em episódios  </option>
                            <option value='53'>Gângster  </option>
                            <option value='54'>Guerra  </option>
                            <option value='55'>História  </option>
                            <option value='56'>Infantil  </option>
                            <option value='57'>Musical  </option>
                            <option value='58'>Musical didático  </option>
                            <option value='59'>Musical juvenil clássico  </option>
                            <option value='60'>Musical natalino  </option>
                            <option value='61'>Natureza e animais   </option>
                            <option value='62'>Policial  </option>
                            <option value='63'>Pornográfico  </option>
                            <option value='64'>Procedimentos médicos  </option>
                            <option value='65'>Religioso  </option>
                            <option value='66'>Romance  </option>
                            <option value='67'>Romance musical  </option>
                            <option value='68'>Saúde  </option>
                            <option value='69'>Surrealista  </option>
                            <option value='70'>Suspense  </option>
                            <option value='71'>Suspense-erótico  </option>
                            <option value='72'>Terror  </option>
                            <option value='73'>Vanguarda  </option>
                            <option value='74'>Outros  </option>
                            <option value='75'>Não há gênero a ser acrescentado </option>
                        </select>
                    </span>
                    <span>
                        <label for="Conteudo-violento">O material em análise apresenta algum tipo de conteúdo violento?</label>
                        <select name="conteudo_violento" id="Conteudo-violento">
                            <option value="">Indique o conteúdo</option>
                            <option value="1">Sim</option>
                            <option value="2">Não</option>
                        </select>
                    </span>
                </div>
            </div>
            
            <div class='Userplace infosPlace analiseFinal'>
                <div class='infosPlaceheader'>
                    <h5>Análise final do conteúdo</h5>
                    <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    <span>
                        <label for='relevancia_conteudo_trama'>Relevância do conteúdo violento para a trama:</labe> 
                            <select name="relevancia_conteudo_trama" id="relevancia_conteudo_trama">
                                <option value='1'>O conteúdo violento não é relevante para a compreensão da trama.</option>
                                <option value='2'>O conteúdo violento é medianamente relevante para a compreensão da trama.</option>
                                <option value='3'>O conteúdo violento é imprescindível para a compreensão da trama.</option>
                            </select>
                        </span>
                        
                        <span>
                            <label for='referencia_conteudo_violento'>Referências ao conteúdo violento:</label>
                            <select name='referencia_conteudo_violento' id='referencia_conteudo_violento'>
                                <option value=''>Referências ao conteúdo violento:</option>
                                <option value='1'>Apresenta armas (exceto de fogo).</option>
                                <option value='2'>Apresenta armas de fogo.</option>
                                <option value='3'>Apresenta sangue.</option>
                                <option value='4'>Apresenta sofrimento da vitima.</option>
                                <option value='5'>Apresenta descrições, a partir das imagens veiculadas, pormenorizadas do ato violento (incluindo o modus operandi e o corpo das vítimas.</option>
                                <option value='6'>Apresenta descrições verbais pormenorizadas do ato violento (incluindoo modus operandi e o corpo das vítimas).</option>
                                <option value='7'>Apresenta consequências negativas (prisão, por exemplo) de curto prazo aoagressor.</option>
                                <option value='8'>Não há punição ao agressor.</option>
                                <option value='9'>Há punição ao agressor.</option>
                                <option value='10'>Há recompensa ao agressor.</option>
                                <option value='11'>Apresenta violência como única forma ou a forma predominante de resoluçãode conflitos.</option>
                                <option value='12'>Apresenta formas alternativas de resolução de conflitos.</option>
                                <option value='13'>Apresenta a realização de justiça com as próprias mãos.</option>
                                <option value='14'>A violência é perpetrada por personagens de imagens valorizadas (os maisbonitos, os mais sadios, os mais inteligentes, os heróis).</option>
                                <option value='15'>Há violência do tipo ‘’mocinhos batem em bandidos.</option>
                                <option value='16'>Apresenta as consequências da violência para as vítimas de forma não sensacionalista, ou seja, a cena deixa claro o fato de que ser vítima de violência implica sequelas.</option>
                                <option value='17'>Apresenta cenas de vítimas e estado de agonia.</option>
                                <option value='18'>Apresenta a violência de forma divertida ou humorística.</option>
                                <option value='19'>Condena a violência.</option>
                                <option value='20'>Elogia a violência.</option>
                                <option value='21'>Condena e elogia, ambiguamente.</option>
                                <option value='22'>Há uma glamorização e/ou apologia da violência.</option>
                                <option value='23'>Envolve crianças e adolescentes como vítimas.</option>
                                <option value='24'>Envolve crianças e adolescentes como agressores.</option>
                                <option value='25'>A apresentação de sonoplastia reforça o conteúdo violento.</option>
                                <option value='26'>A apresentação de sonoplastia minimiza o conteúdo violento.</option>
                                <option value='27'>O enquadramento da imagem valoriza o conteúdo violento.</option>
                                <option value='28'>O enquadramento da imagem minimiza o conteúdo violento.</option>
                                <option value='29'>Apresenta violência gratuita/banalização da violência.</option>
                                <option value='30'>Apresenta violência familiar.</option>
                                <option value='31'>Apresenta a violência dentro de um contexto esportivo (refere-se aos acidentes que, normalmente, decorrem da prática esportiva) - entretanto, não estão aqui incluídos os atos de violência praticados entre os esportistas ou envolvendo os torcedores.</option>
                                <option value='32'>Apresenta a violência dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.</option>
                            </select>
                        </span>
                        
                        <span>
                            <label for="tipo_violencia">Quanto ao tipo de violência envolvida: </label>
                            <select name="tipo_violencia" id="tipo_violencia">
                                <option value='Assassinato/homicídio.'>Assassinato/homicídio.</option>
                                <option value='Agressão física/lesão corporal.'>Agressão física/lesão corporal.</option>
                                <option value='Abuso sexual.'>Abuso sexual.</option>
                                <option value='Atos criminosos sem lesões corporais ou contra a vida.'>Atos criminosos sem lesões corporais ou contra a vida.</option>
                                <option value='Estupro.'>Estupro.</option>
                                <option value='Exploração sexual'>Exploração sexual</option>
                                <option value='Mutilação de partes de corpo.'>Mutilação de partes de corpo.</option>
                                <option value='Suicídio'>Suicídio</option>
                                <option value='Tortura/crueldade'>Tortura/crueldade</option>
                                <option value='Outros'>Outros</option>
                            </select>
                        </span>

                        <span>
                            <label for="cena_nudes">O material em análise apresenta cenas de nudez:</label>
                            <select name="cena_nudes" id="cena_nudes">
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="cena_sexuais">O material em análise apresenta cenas de relações sexuais em quaisquer perspectivas?</label>
                            <select name="cena_sexuais" id="cena_sexuais">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="proprocao_conteudo_sexual">Não Contém Proporção do conteúdo sexual/com nudez no material analisado:
                                </label>
                            <select name="proprocao_conteudo_sexual" id="proprocao_conteudo_sexual">
                                    <option value='Completamente pontual'>Completamente pontual</option>
                                    <option value='Menor de 5%'>Menor de 5%</option>
                                    <option value='Entre 5% e 10%'>Entre 5% e 10%</option>
                                    <option value='Entre 10% e 30%'>Entre 10% e 30%</option>
                                    <option value='Entre 30% e 50%'>Entre 30% e 50%</option>
                                    <option value='Entre 50% e 70%'>Entre 50% e 70%</option>
                                    <option value='Não - entre 70% e 100%'>Não - entre 70% e 100%</option>
                            </select>
                        </span>

                        <span>
                            <label for="relevancia_conteudo_sexual">Relevância do conteúdo sexual para a trama:
                                </label>
                            <select name="relevancia_conteudo_sexual" id="relevancia_conteudo_sexual">
                                    <option value='O conteúdo sexual não é relevante para a compreensão da trama.'>O conteúdo sexual não é relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo sexual é medianamente relevante para a compreensão da trama.'>O conteúdo sexual é medianamente relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo sexual é imprescindível para a compreensão da trama.'>O conteúdo sexual é imprescindível para a compreensão da trama.</option>
                            </select>
                        </span>

                        <span>
                            <label for="referencia_conteudo_sexual">Referências do conteúdo sexual/de nudez no material analisado:
                                </label>
                            <select name="referencia_conteudo_sexual" id="referencia_conteudo_sexual">
                                    <option value='Apresenta nudez frontal, porém sem a exibição de nus frontais (pênis, vagina) seios e'>Apresenta nudez frontal, porém sem a exibição de nus frontais (pênis, vagina) seios e</option>
                                    <option value='nádegas, ou seja, uma nudez ‘’opaca’’ ou velada.'>nádegas, ou seja, uma nudez ‘’opaca’’ ou velada.</option>
                                    <option value='Apresenta nudez completa.'>Apresenta nudez completa.</option>
                                    <option value='A apresentação da nudez se dá em um contexto científico, médico, de educação sexual ou totalmente desvencilhado de qualquer conotação erótica.'>A apresentação da nudez se dá em um contexto científico, médico, de educação sexual ou totalmente desvencilhado de qualquer conotação erótica.</option>
                                    <option value='Apresenta cenas de insinuação sexual (é possível deduzir que a relação ocorrerá ou está acontecendo, sem que, contudo, seja possível visualizar).'>Apresenta cenas de insinuação sexual (é possível deduzir que a relação ocorrerá ou está acontecendo, sem que, contudo, seja possível visualizar).</option>
                                    <option value='Apresenta cenas de sexo sem penetração.'>Apresenta cenas de sexo sem penetração.</option>
                                    <option value='Apresenta insinuações se sexo oral e/ou anal.'>Apresenta insinuações se sexo oral e/ou anal.</option>
                                    <option value='Apresenta insinuações se masturbação.'>Apresenta insinuações se masturbação.</option>
                                    <option value='Apresenta sexo explícito.'>Apresenta sexo explícito.</option>
                                    <option value='Há cenas de incesto.'>Há cenas de incesto.</option>
                                    <option value='Há cenas de prostituição.'>Há cenas de prostituição.</option>
                                    <option value='A mulher é tratada como objeto.'>A mulher é tratada como objeto.</option>
                                    <option value='O sexo é associado com a traição extraconjugal.'>O sexo é associado com a traição extraconjugal.</option>
                                    <option value='O sexo é associado com a promiscuidade (várias relações, com pessoas diferentes, em curtos espaços temporais).'>O sexo é associado com a promiscuidade (várias relações, com pessoas diferentes, em curtos espaços temporais).</option>
                                    <option value='O estupro é apresentado como consequência da paixão e não como um crime.'>O estupro é apresentado como consequência da paixão e não como um crime.</option>
                                    <option value='O estupro como consequência do consumo de drogas ilícitas e nãocomo um crime.'>O estupro como consequência do consumo de drogas ilícitas e nãocomo um crime.</option>
                                    <option value='Há o envolvimento de crianças e adolescentes nas cenas com conteúdo sexual.'>Há o envolvimento de crianças e adolescentes nas cenas com conteúdo sexual.</option>
                                    <option value='A apresentação de fundo musical reforça o conteúdo sexual.'>A apresentação de fundo musical reforça o conteúdo sexual.</option>
                                    <option value='A apresentação de fundo musical minimiza o conteúdo sexual.'>A apresentação de fundo musical minimiza o conteúdo sexual.</option>
                                    <option value='A apresentação de sonoplastia minimiza o conteúdo sexual.'>A apresentação de sonoplastia minimiza o conteúdo sexual.</option>
                                    <option value='A apresentação de sonoplastia valoriza o conteúdo sexual.'>A apresentação de sonoplastia valoriza o conteúdo sexual.</option>
                                    <option value='O enquadramento da imagem valoriza o conteúdo sexual.'>O enquadramento da imagem valoriza o conteúdo sexual.</option>
                                    <option value='O enquadramento da imagem minimiza o conteúdo sexual.'>O enquadramento da imagem minimiza o conteúdo sexual.</option>
                            </select>
                        </span>

                        <!--<span>
                            <label for="referencia_conteudo_sexual">Referências ao conteúdo sexual/de nudez apresentadas dentro de um contexto
                                    histórico e/ou artístico, envolvendo as causas, consequências e soluções
                                    pertinentes ao caso.</label>
                            <select name="referencia_conteudo_sexual" id="referencia_conteudo_sexual">
                                    <option value='Há referências à educação sexual.'>Há referências à educação sexual.</option>
                                    <option value='Há referências ao uso de preservativos.'>Há referências ao uso de preservativos.</option>
                                    <option value='Há referências ao uso de métodos anticoncepcionais.'>Há referências ao uso de métodos anticoncepcionais.</option>
                                    <option value='Há referências ao uso de métodos anticoncepcionais (DSTs).'>Há referências ao uso de métodos anticoncepcionais (DSTs).</option>
                                    <option value='Há referências ao sexo no contexto das relações amorosas/familiares.'>Há referências ao sexo no contexto das relações amorosas/familiares.</option>
                                    <option value='Há discussões intrafamiliares sobre sexo.'>Há discussões intrafamiliares sobre sexo.</option>
                                    <option value='Discute-se a gravidez na adolescência.'>Discute-se a gravidez na adolescência.</option>
                                    <option value='Apresenta a habilidade (feminina ou masculina) de dizer não, no tocante asrelações sexuais.'>Apresenta a habilidade (feminina ou masculina) de dizer não, no tocante asrelações sexuais.</option>
                                    <option value='Há uma discussão/reflexão sobre sexo.'>Há uma discussão/reflexão sobre sexo.</option>
                            </select>
                        </span>-->

                        <span>
                            <label for="conteudo_narcoticos">O material em análise apresenta algum tipo de conteúdo envolvendo drogas?                                </label>
                            <select name="conteudo_narcoticos" id="conteudo_narcoticos">
                                    <option value='Sim. lícitas - que ou o que é conforme à lei, aos princípios do direito.'>Sim. lícitas - que ou o que é conforme à lei, aos princípios do direito.</option>
                                    <option value='Sim, ilícitas - condenado pela lei e/ou pela moral; proibido, ilegal.'>Sim, ilícitas - condenado pela lei e/ou pela moral; proibido, ilegal.</option>
                                    <option value='Sim, ambas'>Sim, ambas</option>
                                    <option value='Não'>Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="relevancia_conteudo_narcotico">Relevância do conteúdo envolvendo drogas para a trama:                                </label>
                            <select name="relevancia_conteudo_narcotico" id="relevancia_conteudo_narcotico">
                                    <option value='O conteúdo não é relevante para a compreensão da trama.'>O conteúdo não é relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo é medianamente relevante para a compreensão da trama.'>O conteúdo é medianamente relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo é imprescindível para a compreensão da trama.'>O conteúdo é imprescindível para a compreensão da trama.</option>
                            </select>
                        </span>

                        <span>
                            <label for="referencia_conteudo_drogas">Referência ao conteúdo envolvendo drogas:
                                </label>
                            <select name="referencia_conteudo_drogas" id="referencia_conteudo_drogas">

                                    <option value='Apresenta descrições, a partir das imagens exibidas, pormenorizadas do consumo/produção / venda de drogas (incluindo o modus operandi e a reação das pessoas.'>Apresenta descrições, a partir das imagens exibidas, pormenorizadas do consumo/produção / venda de drogas (incluindo o modus operandi e a reação das pessoas.</option>
                                    <option value='Apresenta descrições verbais pormenorizadas do consumo/produção/venda de drogas (incluindo o modus operandi e a reação das pessoas.'>Apresenta descrições verbais pormenorizadas do consumo/produção/venda de drogas (incluindo o modus operandi e a reação das pessoas.</option>
                                    <option value='Apresenta consequências negativas (prisão, por exemplo) de curto prazo ao agressor (traficante).'>Apresenta consequências negativas (prisão, por exemplo) de curto prazo ao agressor (traficante).</option>
                                    <option value='Apresenta consequências negativas (ser malsucedido na vida, por exemplo) de longo prazo ao agressor (traficante).'>Apresenta consequências negativas (ser malsucedido na vida, por exemplo) de longo prazo ao agressor (traficante).</option>
                                    <option value='Apresenta consequências negativas (problemas de saúde, por exemplo) para o consumidor (usuário).'>Apresenta consequências negativas (problemas de saúde, por exemplo) para o consumidor (usuário).</option>
                                    <option value='Apresenta consequências positivas (prazer, p. ex.) para o consumidor (usuário)'>Apresenta consequências positivas (prazer, p. ex.) para o consumidor (usuário)</option>
                                    <option value='Não há punição do agressor (traficante).'>Não há punição do agressor (traficante).</option>
                                    <option value='Há recompensa ao agressor (traficante).'>Há recompensa ao agressor (traficante).</option>
                                    <option value='Apresenta drogas como a única forma ou a forma predominante de resoluçãode problema.'>Apresenta drogas como a única forma ou a forma predominante de resoluçãode problema.</option>
                                    <option value='Apresenta formas alternativas de resolução de problemas.'>Apresenta formas alternativas de resolução de problemas.</option>
                                    <option value='Apresenta uma discussão ao redor do tema consumo de drogas.'>Apresenta uma discussão ao redor do tema consumo de drogas.</option>
                                    <option value='Apresenta uma discussão ao redor do tema tráfico de drogas.'>Apresenta uma discussão ao redor do tema tráfico de drogas.</option>
                                    <option value='A apresentação de fundo musical reforça o conteúdo'>A apresentação de fundo musical reforça o conteúdo</option>
                                    <option value='A apresentação de fundo musical minimiza o conteúdo.'>A apresentação de fundo musical minimiza o conteúdo.</option>
                                    <option value='A apresentação de sonoplastia reforça o conteúdo.'>A apresentação de sonoplastia reforça o conteúdo.</option>
                                    <option value='A apresentação de sonoplastia minimiza o conteúdo.'>A apresentação de sonoplastia minimiza o conteúdo.</option>
                                    <option value='O enquadramento da imagem valoriza o conteúdo.'>O enquadramento da imagem valoriza o conteúdo.</option>
                                    <option value='O enquadramento da imagem minimiza o conteúdo.'>O enquadramento da imagem minimiza o conteúdo.</option>
                                    <option value='Referências ao conteúdo envolvendo drogas apresentadas dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.'>Referências ao conteúdo envolvendo drogas apresentadas dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.</option>
                                    <option value='Envolve crianças e/ou adolescentes na cena. '>Envolve crianças e/ou adolescentes na cena. </option>
                                    
                            </select>
                        </span>

                        <span>
                            <label for="tipo_linguagem">Quanto ao tipo de linguagem: </label>
                            <select name="tipo_linguagem" id="tipo_linguagem">
                                    <option value='Apresenta linguagem chula, de baixo calão, palavrões.'>Apresenta linguagem chula, de baixo calão, palavrões.</option>
                                    <option value='Apresenta linguagem erótica, de conteúdo sexual.'>Apresenta linguagem erótica, de conteúdo sexual.</option>
                                    <option value='Apresenta gestos obscenos.'>Apresenta gestos obscenos.</option>
                                    <option value='Apresenta gírias.'>Apresenta gírias.</option>
                                    <option value='Apresenta ironias, metáforas.'>Apresenta ironias, metáforas.</option>
                                    <option value='Apresenta linguagem técnica/erudita.'>Apresenta linguagem técnica/erudita.</option>
                                    <option value='Apresenta linguagem polida, que reflete e estimula comportamento éticos, solidários e de respeito social.'>Apresenta linguagem polida, que reflete e estimula comportamento éticos, solidários e de respeito social.</option>
                                    <option value='Não se aplica.'>Não se aplica.</option>
                                    <option value='Acidentalmente utilizados.'>Acidentalmente utilizados.</option>
                                    <option value='Medianamente utilizados.'>Medianamente utilizados.</option>
                                    <option value='Muito utilizados.'>Muito utilizados.</option>
                            </select>
                        </span>
                        <span>
                            <label for="tipo_descriminacao">Quanto ao tipo de discriminação apresentada:
                                </label>
                            <select name="tipo_descriminacao" id="tipo_descriminacao">
                                    <option value='De gênero'>De gênero</option>
                                    <option value='De classe'>De classe</option>
                                    <option value='Contra gays, lésbicas, bissexuais e/ou transgêneros.'>Contra gays, lésbicas, bissexuais e/ou transgêneros.</option>
                                    <option value='Contra raças/etnias'>Contra raças/etnias</option>
                                    <option value='Contra migrantes e imigrantes.'>Contra migrantes e imigrantes.</option>
                                    <option value='Contra indígenas.'>Contra indígenas.</option>
                                    <option value='Contra determinados povos/populações.'>Contra determinados povos/populações.</option>
                                    <option value='Contra crianças/adolescentes.'>Contra crianças/adolescentes.</option>
                                    <option value='Contra religiões.'>Contra religiões.</option>
                                    <option value='Contra pessoas com deficiência.'>Contra pessoas com deficiência.</option>
                                    <option value='Outras.'>Outras.</option>
                                    <option value='Não se aplica.'>Não se aplica.</option>
                            </select>
                        </span>

                        <span>
                            <label for="vinculacao_esteriotipo">Quando da apresentação de alguns destes grupos há, na maior parte das cenas,
                                    a veiculação de estereótipos?</label>
                            <select name="vinculacao_esteriotipo" id="vinculacao_esteriotipo">
                                    <option value='Sim'>Sim</option>
                                    <option value='Não'>Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="intensidade_comportamento_descriminatorio">Quando à intensidade da presença de comportamento discriminatório
                                </label>
                            <select name="intensidade_comportamento_descriminatorio" id="intensidade_comportamento_descriminatorio">
                                    <option value='Acidentalmente verificado.'>Acidentalmente verificado.</option>
                                    <option value='Medianamente verificado.'>Medianamente verificado.</option>
                                    <option value='Muito verificado.'>Muito verificado.</option>
                            </select>
                        </span>

                        <span>
                            <label for="comportamento_descriminatorio">Quanto ao comportamento discriminatório.
                                </label>
                            <select name="comportamento_descriminatorio" id="comportamento_descriminatorio">
                                    <option value='É condenado.'>É condenado.<option>
                                            <option value='É valorizado.'>É valorizado.<option>
                                            <option value='É apresentado em um contexto histórico e político, quando causas, consequências e soluções são sublinhadas.'>É apresentado em um contexto histórico e político, quando causas, consequências e soluções são sublinhadas.<option>
                                            <option value='Os agressores são punidos.'>Os agressores são punidos.<option>
                                            <option value='Os agressores não são punidos.'>Os agressores não são punidos.<option>
                                            <option value='Os agressores são valorizados/recompensados.'>Os agressores são valorizados/recompensados.<option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="boxComentario">
                    <label>Comentário (opcional)</label>
                    <textarea name="comentario" id="comentario"></textarea>
                </div>
            </div>


        </form>
            <div class='rightposition'>

                <div class='bookBox'>
                    <form action="" class='formInputSearch'>
                        <input type="text" placeholder="Pesquise" name='pesquisa'>
                        <button>
                            <i class="material-icons"> search </i>
                        </button>
                    </form>
                    
                    <div>
                        <span>
                            <label>CÓD: 252</label>
                            <p>Lorem ipsum lorem ipsum</p>
                        </span>
                    </div>
                    <!-- <span class='gradient'></span> -->
                </div>
                <div class='Userplace'>
                        <img src="/img/icon6.png" alt="Icone Usuário - SAAV">
                        <h5> <%= user.name %> </h5>
                        <p>Você</p>
                    </div>



            </div>
            
            
            
        </div>
        
        
    </main>
    
    <% include includes/footer.ejs %>
    <script src="/js/salvarAnalise.js"></script>
    
    