
<%- include('includes/header', {status: program.status}); %>



<style>
    
    aside
    {
        height:5em;
        display:block;
        position: absolute;
    }
    aside .logo
    {
        margin-top:0;
    }
    
    .content {
        width: 100%;
        margin-left: 0;
        padding-top: 5em;
        padding-left: 0em;
        padding-right:0em;
    }
    header .analyzeHeader
    {
        display: flex;
    }
    header .menuContainer-btn
    {
        display: none;
    }

    header{
        position: absolute;
        z-index: 99999;
    }
</style>

<!-- view de analise -->

<main class='mainAnalyze'>
    
    <div class='container'>
        <form id="form_save_analyze">
            <input type="hidden" name="id_programacao" value="<%=program.id%>"/>
        <div class='leftposition'>
            <div class='analyzeVideoBox'>
                <video src="<%=program.link_video%>" controls></video>
            </div>
            <div class='HeaderAnalyze-Name'>
                <span>
                    <h2><%=program.nome%></h2>
                    <p><%=program.dia_emissao.toLocaleString()%></p>
                </span>
                
                <a href="javascript:void(0)"><img src="img/download.svg" alt=""></a>
            </div>
            <div class='Userplace infosPlace infosPlaceActive'>
                <div class='infosPlaceheader'>
                    <h5>Informações básicas</h5>
                    <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    <span>
                        <label for="Nome">Nome do Programa:</label>
                        <input name="nome_programa" type="text" placeholder="Digite o nome do programa" value='Program-DE23D2' value='nome_programa'>
                    </span>
                    <span>
                        <label for="Emissora">Nome da Emissora:</label>
                        <input name="nome_emissora" type="text" placeholder="Digite o nome da emissora" value='nome_emissora'>
                    </span>
                    <span>
                        <label for="DiaT">Dia de transmissão:</label>
                        <select name="dia_transmissao" id="DiaT">
                            <option value="">Informe o dia de transmissão</option>
                            <option value="Segunda-feira">Segunda-feira</option>
                            <option value="Terça-feira">Terça-feira</option>
                            <option value="Quarta-feira">Quarta-feira</option>
                            <option value="Quinta-feira">Quinta-feira</option>
                            <option value="Sexta-feira">Sexta-feira</option>
                            <option value="Sábado-feira">Sábado-feira</option>
                            <option value="Domingo-feira">Domingo-feira</option>
                        </select>
                    </span>
                    
                    <span>
                        <label for="genero">Gênero:</label>
                        <select name="genero" id="genero">
                            <option value="">Informe o dia de transmissão</option>
                            <option value='Auditório'>Auditório</option>
                            <option value="Colunismo Social">Colunismo Social</option>
                            <option value="Culinário">Culinário</option>
                            <option value="Debate">Debate</option>
                            <option value=" Desenho Animado"> Desenho Animado</option>
                            <option value="Documentário">Documentário</option>
                            <option value="Educativo">Educativo</option>
                            <option value="Entrevista">Entrevista</option>
                            <option value="Especial">Especial</option>
                            <option value="Esportivo/transmissão ao vivo">Esportivo/transmissão ao vivo</option>
                            <option value="Espetivo/gravado">Espetivo/gravado</option>
                            <option value="Game show">Game show</option>
                            <option value="Humorístico">Humorístico</option>
                            <option value="Infantil">Infantil</option>
                            <option value="Informativo">Informativo</option>
                            <option value="Interativo">Interativo</option>
                            <option value="Minissérie">Minissérie</option>
                            <option value="Musical/Show">Musical/Show</option>
                            <option value="Novela">Novela</option>
                            <option value="Programas que trabalham com o sensacional da vida cotidiana">Programas que trabalham com o sensacional da vida cotidiana</option>
                            <option value="Horário político">Horário político</option>
                            <option value="Debate político">Debate político</option>
                            <option value="Reality Show">Reality Show</option>
                            <option value="Missa">Missa</option>
                            <option value="Culto religioso">Culto religioso</option>
                            <option value="Série">Série</option>
                            <option value="Seriado">Seriado</option>
                            <option value="Sitcom">Sitcom</option>
                            <option value="Sorteio">Sorteio</option>
                            <option value="Talkshow">Talkshow</option>
                            <option value="Telejornalismo">Telejornalismo</option>
                            <option value="Variedade">Variedade</option>
                            <option value="Revista eletrônica">Revista eletrônica</option>
                            <option value="Outros">Outros</option>
                            <OPTION>Value</OPTION>
                            
                            
                        </select>
                    </span>
                    <span>
                        <label for="Idioma">Idioma:</label>
                        <select name="idioma" id="Idioma">
                            <option value="">Selecione o idioma do programa</option>
                            <option value="Português">Português</option>
                            <option value="Inglês">Inglês</option>
                            <option value="Espanhol">Espanhol</option>
                            <option value="Outros idioma">Outros idiomas</option>
                        </select>
                    </span>
                    <span>
                        <label for="Nacionalidade">Nacionalidade de produção:</label>
                        <select name="nacionalidade_producao" id="Nacionalidade">
                            <option value="">Informa a nacionalidade de produção</option>
                            <option value="Produção nacional">Produção nacional</option>
                            <option value="Produção regional">Produção regional</option>
                            <option value="Produção local">Produção local</option>
                            <option value="Produção dos Estados Unidos">Produção dos Estados Unidos</option>
                            <option value="Produção do México">Produção do México</option>
                            <option value="Produção de outros países">Produção de outros países</option>
                        </select>
                        
                    </span>
                    <span>
                        <label for="Leitura">O conteúdo é:</label>
                        <select name="conteudo" id="leitura">
                            <option value="Informe qual é o tipo de leitura">Informe qual é o tipo de leitura</option>
                            <option value="Legendado">Legendado</option>
                            <option value="Dublado">Dublado</option>
                            <option value="Não se especifica">Não se especifica</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class='Userplace infosPlace'>
                <div class='infosPlaceheader'>
                    <h5>Análise de conteúdo</h5>
                    <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    
                    <span>
                        <label for="ClassificacaoEmissora">Classificação inicativa inicialmente divulgada pela emissora:</label>
                        <select name="classificacao_indicativa" id="ClassificacaoEmissora">
                            <option value="Selecione a classificação"> Selecione a Classificação</option>
                            <option value="Livre">Livre</option>
                            <option value="10">10 anos</option>
                            <option value="12">12 anos</option>
                            <option value="14">14 anos</option>
                            <option value="16">16 anos</option>
                            <option value="18">18 anos</option>
                        </select>
                    </span>
                    
                    <span>
                        <label for="Enredo">Enredo do conteúdo</label>
                        <select name="enredo_conteudo" id="Enredo">
                            <option value="">Selecione o enredo</option>
                            <option value='Ação  '>Ação   </option>
                            <option value='Animação '>Animação  </option>
                            <option value='Animação Digital '>Animação Digital  </option>
                            <option value='Arte '>Arte  </option>
                            <option value='Artes marciais '>Artes marciais  </option>
                            <option value='Aventura '>Aventura  </option>
                            <option value='Aventura bíblica '>Aventura bíblica  </option>
                            <option value='Aventura de assalto '>Aventura de assalto  </option>
                            <option value='Aventura de guerra '>Aventura de guerra  </option>
                            <option value='Aventura juvenil '>Aventura juvenil  </option>
                            <option value='Aventura policial '>Aventura policial  </option>
                            <option value='Bíblico '>Bíblico  </option>
                            <option value='Capa-espada '>Capa-espada  </option>
                            <option value='Chanchada '>Chanchada  </option>
                            <option value='Chanchada Musical '>Chanchada Musical  </option>
                            <option value='Ciência e tecnologia '>Ciência e tecnologia  </option>
                            <option value='Clássico '>Clássico  </option>
                            <option value='Comédia '>Comédia  </option>
                            <option value='Comédia clássica '>Comédia clássica  </option>
                            <option value='Comédia de humor negro '>Comédia de humor negro  </option>
                            <option value='Comédia dramática '>Comédia dramática  </option>
                            <option value='Comédia de faroeste '>Comédia de faroeste  </option>
                            <option value='Comédia infantil '>Comédia infantil  </option>
                            <option value='Comédia juvenil '>Comédia juvenil  </option>
                            <option value='Comédia musical '>Comédia musical  </option>
                            <option value='Comédia pastelão '>Comédia pastelão  </option>
                            <option value='Comédia policial '>Comédia policial  </option>
                            <option value='Comédia romântica '>Comédia romântica  </option>
                            <option value='Comportamento e vida cotidiana '>Comportamento e vida cotidiana  </option>
                            <option value='Desenho animado '>Desenho animado  </option>
                            <option value='Didático '>Didático  </option>
                            <option value='Drama '>Drama  </option>
                            <option value='Drama biográfico '>Drama biográfico  </option>
                            <option value='Drama de prisão '>Drama de prisão  </option>
                            <option value='Drama de guerra '>Drama de guerra  </option>
                            <option value='Drama erótico '>Drama erótico  </option>
                            <option value='Drama esportivo '>Drama esportivo  </option>
                            <option value='Drama histórico  '>Drama histórico   </option>
                            <option value='Drama policial '>Drama policial  </option>
                            <option value='Drama político '>Drama político  </option>
                            <option value='Drama religioso '>Drama religioso  </option>
                            <option value='Drama romântico '>Drama romântico  </option>
                            <option value='Educativo '>Educativo  </option>
                            <option value='Épico '>Épico  </option>
                            <option value='Erótico '>Erótico  </option>
                            <option value='Espionagem '>Espionagem  </option>
                            <option value='Fantasia '>Fantasia  </option>
                            <option value='Fantasia juvenil '>Fantasia juvenil  </option>
                            <option value='Faroeste '>Faroeste  </option>
                            <option value='Ficção científica '>Ficção científica  </option>
                            <option value='Filme-catástrofe    '>Filme-catástrofe     </option>
                            <option value='Filme em episódios '>Filme em episódios  </option>
                            <option value='Gângster '>Gângster  </option>
                            <option value='Guerra '>Guerra  </option>
                            <option value='História '>História  </option>
                            <option value='Infantil '>Infantil  </option>
                            <option value='Musical '>Musical  </option>
                            <option value='Musical didático '>Musical didático  </option>
                            <option value='Musical juvenil clássico '>Musical juvenil clássico  </option>
                            <option value='Musical natalino '>Musical natalino  </option>
                            <option value='Natureza e animais  '>Natureza e animais   </option>
                            <option value='Policial '>Policial  </option>
                            <option value='Pornográfico '>Pornográfico  </option>
                            <option value='Procedimentos médicos '>Procedimentos médicos  </option>
                            <option value='Religioso '>Religioso  </option>
                            <option value='Romance '>Romance  </option>
                            <option value='Romance musical '>Romance musical  </option>
                            <option value='Saúde '>Saúde  </option>
                            <option value='Surrealista '>Surrealista  </option>
                            <option value='Suspense '>Suspense  </option>
                            <option value='Suspense-erótico '>Suspense-erótico  </option>
                            <option value='Terror '>Terror  </option>
                            <option value='Vanguarda '>Vanguarda  </option>
                            <option value='Outros '>Outros  </option>
                            <option value='Não há gênero a ser acrescentado para além do formato previamente indicado'>Não há gênero a ser acrescentado para além do formato previamente indicado.</option>
                        </select>
                    </span>
                    <span>
                        <label for="Conteudo-violento">O material em análise apresenta algum tipo de conteúdo violento?</label>
                        <select name="conteudo_violento" id="Conteudo-violento">
                            <option value="">Indique o conteúdo</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </span>
                </div>
            </div>
            
            <div class='Userplace infosPlace analiseFinal'>
                <div class='infosPlaceheader'>
                    <h5>Análise final do conteúdo</h5>
                    <i class="material-icons"> keyboard_arrow_down </i>
                </div>
                <div class='infosPlacebody'>   
                    <span>
                        <label for='relevancia_conteudo_trama'>Relevância do conteúdo violento para a trama:</labe> 
                            <select name="relevancia_conteudo_trama" id="relevancia_conteudo_trama">
                                <option value='O conteúdo violento não é relevante para a compreensão da trama.'>O conteúdo violento não é relevante para a compreensão da trama.</option>
                                <option value='O conteúdo violento é medianamente relevante para a compreensão da trama.'>O conteúdo violento é medianamente relevante para a compreensão da trama.</option>
                                <option value='O conteúdo violento é imprescindível para a compreensão da trama.'>O conteúdo violento é imprescindível para a compreensão da trama.</option>
                            </select>
                        </span>
                        
                        <span>
                            <label for='referencia_conteudo_violento'>Referências ao conteúdo violento:</label>
                            <select name='referencia_conteudo_violento' id='referencia_conteudo_violento'>
                                <option value='Referências ao conteúdo violento:'>Referências ao conteúdo violento:</option>
                                <option value='Apresenta armas (exceto de fogo).'>Apresenta armas (exceto de fogo).</option>
                                <option value='Apresenta armas de fogo.'>Apresenta armas de fogo.</option>
                                <option value='Apresenta sangue.'>Apresenta sangue.</option>
                                <option value='Apresenta sofrimento da vitima.'>Apresenta sofrimento da vitima.</option>
                                <option value='Apresenta descrições, a partir das imagens veiculadas, pormenorizadas do'>Apresenta descrições, a partir das imagens veiculadas, pormenorizadas do</option>
                                <option value='violento (incluindo o modus operandi e o corpo das vítimas.'>violento (incluindo o modus operandi e o corpo das vítimas.</option>
                                <option value='Apresenta descrições verbais pormenorizadas do ato violento (incluindoo modus operandi e o corpo das vítimas).'>Apresenta descrições verbais pormenorizadas do ato violento (incluindoo modus operandi e o corpo das vítimas).</option>
                                <option value='Apresenta consequências negativas (prisão, por exemplo) de curto prazo aoagressor.'>Apresenta consequências negativas (prisão, por exemplo) de curto prazo aoagressor.</option>
                                <option value='Não há punição ao agressor.'>Não há punição ao agressor.</option>
                                <option value='Há punição ao agressor.'>Há punição ao agressor.</option>
                                <option value='Há recompensa ao agressor.'>Há recompensa ao agressor.</option>
                                <option value='Apresenta violência como única forma ou a forma predominante de resoluçãode conflitos.'>Apresenta violência como única forma ou a forma predominante de resoluçãode conflitos.</option>
                                <option value='Apresenta formas alternativas de resolução de conflitos.'>Apresenta formas alternativas de resolução de conflitos.</option>
                                <option value='Apresenta a realização de justiça com as próprias mãos.'>Apresenta a realização de justiça com as próprias mãos.</option>
                                <option value='A violência é perpetrada por personagens de imagens valorizadas (os maisbonitos, os mais sadios, os mais inteligentes, os heróis).'>A violência é perpetrada por personagens de imagens valorizadas (os maisbonitos, os mais sadios, os mais inteligentes, os heróis).</option>
                                <option value='Há violência do tipo ‘’mocinhos batem em bandidos.'>Há violência do tipo ‘’mocinhos batem em bandidos.</option>
                                <option value='Apresenta as consequências da violência para as vítimas de forma não sensacionalista, ou seja, a cena deixa claro o fato de que ser vítima de violência implica sequelas.'>Apresenta as consequências da violência para as vítimas de forma não sensacionalista, ou seja, a cena deixa claro o fato de que ser vítima de violência implica sequelas.</option>
                                <option value='Apresenta cenas de vítimas e estado de agonia.'>Apresenta cenas de vítimas e estado de agonia.</option>
                                <option value='Apresenta a violência de forma divertida ou humorística.'>Apresenta a violência de forma divertida ou humorística.</option>
                                <option value='Condena a violência.'>Condena a violência.</option>
                                <option value='Elogia a violência.'>Elogia a violência.</option>
                                <option value='Condena e elogia, ambiguamente.'>Condena e elogia, ambiguamente.</option>
                                <option value='Há uma glamorização e/ou apologia da violência.'>Há uma glamorização e/ou apologia da violência.</option>
                                <option value='Envolve crianças e adolescentes como vítimas.'>Envolve crianças e adolescentes como vítimas.</option>
                                <option value='Envolve crianças e adolescentes como agressores.'>Envolve crianças e adolescentes como agressores.</option>
                                <option value='A apresentação de sonoplastia reforça o conteúdo violento.'>A apresentação de sonoplastia reforça o conteúdo violento.</option>
                                <option value='A apresentação de sonoplastia minimiza o conteúdo violento.'>A apresentação de sonoplastia minimiza o conteúdo violento.</option>
                                <option value='O enquadramento da imagem valoriza o conteúdo violento.'>O enquadramento da imagem valoriza o conteúdo violento.</option>
                                <option value='O enquadramento da imagem minimiza o conteúdo violento.'>O enquadramento da imagem minimiza o conteúdo violento.</option>
                                <option value='Apresenta violência gratuita/banalização da violência.'>Apresenta violência gratuita/banalização da violência.</option>
                                <option value='Apresenta violência familiar.'>Apresenta violência familiar.</option>
                                <option value='Apresenta a violência dentro de um contexto esportivo (refere-se aos acidentes que, normalmente, decorrem da prática esportiva) - entretanto, não estão aqui incluídos os atos de violência praticados entre os esportistas ou envolvendo os torcedores.'>Apresenta a violência dentro de um contexto esportivo (refere-se aos acidentes que, normalmente, decorrem da prática esportiva) - entretanto, não estão aqui incluídos os atos de violência praticados entre os esportistas ou envolvendo os torcedores.</option>
                                <option value='Apresenta a violência dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.'>Apresenta a violência dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.</option>
                            </select>
                        </span>
                        
                        <span>
                            <label for="tipo_violencia">Quanto ao tipo de violência envolvida: </label>
                            <select name="tipo_violencia" id="tipo_violencia">
                                <option value='Assassinato/homicídio.'>Assassinato/homicídio.</option>
                                <option value='Agressão física/lesão corporal.'>Agressão física/lesão corporal.</option>
                                <option value='Abuso sexual.'>Abuso sexual.</option>
                                <option value='Atos criminosos sem lesões corporais ou contra a vida.'>Atos criminosos sem lesões corporais ou contra a vida.</option>
                                <option value='Estupro.'>Estupro.</option>
                                <option value='Exploração sexual'>Exploração sexual</option>
                                <option value='Mutilação de partes de corpo.'>Mutilação de partes de corpo.</option>
                                <option value='Suicídio'>Suicídio</option>
                                <option value='Tortura/crueldade'>Tortura/crueldade</option>
                                <option value='Outros'>Outros</option>
                            </select>
                        </span>

                        <span>
                            <label for="cena_nudes">O material em análise apresenta cenas de nudez:</label>
                            <select name="cena_nudes" id="cena_nudes">
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="cena_sexuais">O material em análise apresenta cenas de relações sexuais em quaisquer perspectivas?</label>
                            <select name="cena_sexuais" id="cena_sexuais">
                                    <option value="Sim">Sim</option>
                                    <option value="Não">Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="proprocao_conteudo_sexual">Não Contém Proporção do conteúdo sexual/com nudez no material analisado:
                                </label>
                            <select name="proprocao_conteudo_sexual" id="proprocao_conteudo_sexual">
                                    <option value='Completamente pontual'>Completamente pontual</option>
                                    <option value='Menor de 5%'>Menor de 5%</option>
                                    <option value='Entre 5% e 10%'>Entre 5% e 10%</option>
                                    <option value='Entre 10% e 30%'>Entre 10% e 30%</option>
                                    <option value='Entre 30% e 50%'>Entre 30% e 50%</option>
                                    <option value='Entre 50% e 70%'>Entre 50% e 70%</option>
                                    <option value='Não - entre 70% e 100%'>Não - entre 70% e 100%</option>
                            </select>
                        </span>

                        <span>
                            <label for="relevancia_conteudo_sexual">Relevância do conteúdo sexual para a trama:
                                </label>
                            <select name="relevancia_conteudo_sexual" id="relevancia_conteudo_sexual">
                                    <option value='O conteúdo sexual não é relevante para a compreensão da trama.'>O conteúdo sexual não é relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo sexual é medianamente relevante para a compreensão da trama.'>O conteúdo sexual é medianamente relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo sexual é imprescindível para a compreensão da trama.'>O conteúdo sexual é imprescindível para a compreensão da trama.</option>
                            </select>
                        </span>

                        <span>
                            <label for="referencia_conteudo_sexual">Referências do conteúdo sexual/de nudez no material analisado:
                                </label>
                            <select name="referencia_conteudo_sexual" id="referencia_conteudo_sexual">
                                    <option value='Apresenta nudez frontal, porém sem a exibição de nus frontais (pênis, vagina) seios e'>Apresenta nudez frontal, porém sem a exibição de nus frontais (pênis, vagina) seios e</option>
                                    <option value='nádegas, ou seja, uma nudez ‘’opaca’’ ou velada.'>nádegas, ou seja, uma nudez ‘’opaca’’ ou velada.</option>
                                    <option value='Apresenta nudez completa.'>Apresenta nudez completa.</option>
                                    <option value='A apresentação da nudez se dá em um contexto científico, médico, de educação sexual ou totalmente desvencilhado de qualquer conotação erótica.'>A apresentação da nudez se dá em um contexto científico, médico, de educação sexual ou totalmente desvencilhado de qualquer conotação erótica.</option>
                                    <option value='Apresenta cenas de insinuação sexual (é possível deduzir que a relação ocorrerá ou está acontecendo, sem que, contudo, seja possível visualizar).'>Apresenta cenas de insinuação sexual (é possível deduzir que a relação ocorrerá ou está acontecendo, sem que, contudo, seja possível visualizar).</option>
                                    <option value='Apresenta cenas de sexo sem penetração.'>Apresenta cenas de sexo sem penetração.</option>
                                    <option value='Apresenta insinuações se sexo oral e/ou anal.'>Apresenta insinuações se sexo oral e/ou anal.</option>
                                    <option value='Apresenta insinuações se masturbação.'>Apresenta insinuações se masturbação.</option>
                                    <option value='Apresenta sexo explícito.'>Apresenta sexo explícito.</option>
                                    <option value='Há cenas de incesto.'>Há cenas de incesto.</option>
                                    <option value='Há cenas de prostituição.'>Há cenas de prostituição.</option>
                                    <option value='A mulher é tratada como objeto.'>A mulher é tratada como objeto.</option>
                                    <option value='O sexo é associado com a traição extraconjugal.'>O sexo é associado com a traição extraconjugal.</option>
                                    <option value='O sexo é associado com a promiscuidade (várias relações, com pessoas diferentes, em curtos espaços temporais).'>O sexo é associado com a promiscuidade (várias relações, com pessoas diferentes, em curtos espaços temporais).</option>
                                    <option value='O estupro é apresentado como consequência da paixão e não como um crime.'>O estupro é apresentado como consequência da paixão e não como um crime.</option>
                                    <option value='O estupro como consequência do consumo de drogas ilícitas e nãocomo um crime.'>O estupro como consequência do consumo de drogas ilícitas e nãocomo um crime.</option>
                                    <option value='Há o envolvimento de crianças e adolescentes nas cenas com conteúdo sexual.'>Há o envolvimento de crianças e adolescentes nas cenas com conteúdo sexual.</option>
                                    <option value='A apresentação de fundo musical reforça o conteúdo sexual.'>A apresentação de fundo musical reforça o conteúdo sexual.</option>
                                    <option value='A apresentação de fundo musical minimiza o conteúdo sexual.'>A apresentação de fundo musical minimiza o conteúdo sexual.</option>
                                    <option value='A apresentação de sonoplastia minimiza o conteúdo sexual.'>A apresentação de sonoplastia minimiza o conteúdo sexual.</option>
                                    <option value='A apresentação de sonoplastia valoriza o conteúdo sexual.'>A apresentação de sonoplastia valoriza o conteúdo sexual.</option>
                                    <option value='O enquadramento da imagem valoriza o conteúdo sexual.'>O enquadramento da imagem valoriza o conteúdo sexual.</option>
                                    <option value='O enquadramento da imagem minimiza o conteúdo sexual.'>O enquadramento da imagem minimiza o conteúdo sexual.</option>
                            </select>
                        </span>

                        <!--<span>
                            <label for="referencia_conteudo_sexual">Referências ao conteúdo sexual/de nudez apresentadas dentro de um contexto
                                    histórico e/ou artístico, envolvendo as causas, consequências e soluções
                                    pertinentes ao caso.</label>
                            <select name="referencia_conteudo_sexual" id="referencia_conteudo_sexual">
                                    <option value='Há referências à educação sexual.'>Há referências à educação sexual.</option>
                                    <option value='Há referências ao uso de preservativos.'>Há referências ao uso de preservativos.</option>
                                    <option value='Há referências ao uso de métodos anticoncepcionais.'>Há referências ao uso de métodos anticoncepcionais.</option>
                                    <option value='Há referências ao uso de métodos anticoncepcionais (DSTs).'>Há referências ao uso de métodos anticoncepcionais (DSTs).</option>
                                    <option value='Há referências ao sexo no contexto das relações amorosas/familiares.'>Há referências ao sexo no contexto das relações amorosas/familiares.</option>
                                    <option value='Há discussões intrafamiliares sobre sexo.'>Há discussões intrafamiliares sobre sexo.</option>
                                    <option value='Discute-se a gravidez na adolescência.'>Discute-se a gravidez na adolescência.</option>
                                    <option value='Apresenta a habilidade (feminina ou masculina) de dizer não, no tocante asrelações sexuais.'>Apresenta a habilidade (feminina ou masculina) de dizer não, no tocante asrelações sexuais.</option>
                                    <option value='Há uma discussão/reflexão sobre sexo.'>Há uma discussão/reflexão sobre sexo.</option>
                            </select>
                        </span>-->

                        <span>
                            <label for="conteudo_narcoticos">O material em análise apresenta algum tipo de conteúdo envolvendo drogas?                                </label>
                            <select name="conteudo_narcoticos" id="conteudo_narcoticos">
                                    <option value='Sim. lícitas - que ou o que é conforme à lei, aos princípios do direito.'>Sim. lícitas - que ou o que é conforme à lei, aos princípios do direito.</option>
                                    <option value='Sim, ilícitas - condenado pela lei e/ou pela moral; proibido, ilegal.'>Sim, ilícitas - condenado pela lei e/ou pela moral; proibido, ilegal.</option>
                                    <option value='Sim, ambas'>Sim, ambas</option>
                                    <option value='Não'>Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="relevancia_conteudo_narcotico">Relevância do conteúdo envolvendo drogas para a trama:                                </label>
                            <select name="relevancia_conteudo_narcotico" id="relevancia_conteudo_narcotico">
                                    <option value='O conteúdo não é relevante para a compreensão da trama.'>O conteúdo não é relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo é medianamente relevante para a compreensão da trama.'>O conteúdo é medianamente relevante para a compreensão da trama.</option>
                                    <option value='O conteúdo é imprescindível para a compreensão da trama.'>O conteúdo é imprescindível para a compreensão da trama.</option>
                            </select>
                        </span>

                        <span>
                            <label for="referencia_conteudo_drogas">Referência ao conteúdo envolvendo drogas:
                                </label>
                            <select name="referencia_conteudo_drogas" id="referencia_conteudo_drogas">

                                    <option value='Apresenta descrições, a partir das imagens exibidas, pormenorizadas do consumo/produção / venda de drogas (incluindo o modus operandi e a reação das pessoas.'>Apresenta descrições, a partir das imagens exibidas, pormenorizadas do consumo/produção / venda de drogas (incluindo o modus operandi e a reação das pessoas.</option>
                                    <option value='Apresenta descrições verbais pormenorizadas do consumo/produção/venda de drogas (incluindo o modus operandi e a reação das pessoas.'>Apresenta descrições verbais pormenorizadas do consumo/produção/venda de drogas (incluindo o modus operandi e a reação das pessoas.</option>
                                    <option value='Apresenta consequências negativas (prisão, por exemplo) de curto prazo ao agressor (traficante).'>Apresenta consequências negativas (prisão, por exemplo) de curto prazo ao agressor (traficante).</option>
                                    <option value='Apresenta consequências negativas (ser malsucedido na vida, por exemplo) de longo prazo ao agressor (traficante).'>Apresenta consequências negativas (ser malsucedido na vida, por exemplo) de longo prazo ao agressor (traficante).</option>
                                    <option value='Apresenta consequências negativas (problemas de saúde, por exemplo) para o consumidor (usuário).'>Apresenta consequências negativas (problemas de saúde, por exemplo) para o consumidor (usuário).</option>
                                    <option value='Apresenta consequências positivas (prazer, p. ex.) para o consumidor (usuário)'>Apresenta consequências positivas (prazer, p. ex.) para o consumidor (usuário)</option>
                                    <option value='Não há punição do agressor (traficante).'>Não há punição do agressor (traficante).</option>
                                    <option value='Há recompensa ao agressor (traficante).'>Há recompensa ao agressor (traficante).</option>
                                    <option value='Apresenta drogas como a única forma ou a forma predominante de resoluçãode problema.'>Apresenta drogas como a única forma ou a forma predominante de resoluçãode problema.</option>
                                    <option value='Apresenta formas alternativas de resolução de problemas.'>Apresenta formas alternativas de resolução de problemas.</option>
                                    <option value='Apresenta uma discussão ao redor do tema consumo de drogas.'>Apresenta uma discussão ao redor do tema consumo de drogas.</option>
                                    <option value='Apresenta uma discussão ao redor do tema tráfico de drogas.'>Apresenta uma discussão ao redor do tema tráfico de drogas.</option>
                                    <option value='A apresentação de fundo musical reforça o conteúdo'>A apresentação de fundo musical reforça o conteúdo</option>
                                    <option value='A apresentação de fundo musical minimiza o conteúdo.'>A apresentação de fundo musical minimiza o conteúdo.</option>
                                    <option value='A apresentação de sonoplastia reforça o conteúdo.'>A apresentação de sonoplastia reforça o conteúdo.</option>
                                    <option value='A apresentação de sonoplastia minimiza o conteúdo.'>A apresentação de sonoplastia minimiza o conteúdo.</option>
                                    <option value='O enquadramento da imagem valoriza o conteúdo.'>O enquadramento da imagem valoriza o conteúdo.</option>
                                    <option value='O enquadramento da imagem minimiza o conteúdo.'>O enquadramento da imagem minimiza o conteúdo.</option>
                                    <option value='Referências ao conteúdo envolvendo drogas apresentadas dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.'>Referências ao conteúdo envolvendo drogas apresentadas dentro de um contexto histórico, envolvendo as causas, consequências e soluções pertinentes ao caso.</option>
                                    <option value='Envolve crianças e/ou adolescentes na cena. '>Envolve crianças e/ou adolescentes na cena. </option>
                                    
                            </select>
                        </span>

                        <span>
                            <label for="tipo_linguagem">Quanto ao tipo de linguagem: </label>
                            <select name="tipo_linguagem" id="tipo_linguagem">
                                    <option value='Apresenta linguagem chula, de baixo calão, palavrões.'>Apresenta linguagem chula, de baixo calão, palavrões.</option>
                                    <option value='Apresenta linguagem erótica, de conteúdo sexual.'>Apresenta linguagem erótica, de conteúdo sexual.</option>
                                    <option value='Apresenta gestos obscenos.'>Apresenta gestos obscenos.</option>
                                    <option value='Apresenta gírias.'>Apresenta gírias.</option>
                                    <option value='Apresenta ironias, metáforas.'>Apresenta ironias, metáforas.</option>
                                    <option value='Apresenta linguagem técnica/erudita.'>Apresenta linguagem técnica/erudita.</option>
                                    <option value='Apresenta linguagem polida, que reflete e estimula comportamento éticos, solidários e de respeito social.'>Apresenta linguagem polida, que reflete e estimula comportamento éticos, solidários e de respeito social.</option>
                                    <option value='Não se aplica.'>Não se aplica.</option>
                                    <option value='Acidentalmente utilizados.'>Acidentalmente utilizados.</option>
                                    <option value='Medianamente utilizados.'>Medianamente utilizados.</option>
                                    <option value='Muito utilizados.'>Muito utilizados.</option>
                            </select>
                        </span>
                        <span>
                            <label for="tipo_descriminacao">Quanto ao tipo de discriminação apresentada:
                                </label>
                            <select name="tipo_descriminacao" id="tipo_descriminacao">
                                    <option value='De gênero'>De gênero</option>
                                    <option value='De classe'>De classe</option>
                                    <option value='Contra gays, lésbicas, bissexuais e/ou transgêneros.'>Contra gays, lésbicas, bissexuais e/ou transgêneros.</option>
                                    <option value='Contra raças/etnias'>Contra raças/etnias</option>
                                    <option value='Contra migrantes e imigrantes.'>Contra migrantes e imigrantes.</option>
                                    <option value='Contra indígenas.'>Contra indígenas.</option>
                                    <option value='Contra determinados povos/populações.'>Contra determinados povos/populações.</option>
                                    <option value='Contra crianças/adolescentes.'>Contra crianças/adolescentes.</option>
                                    <option value='Contra religiões.'>Contra religiões.</option>
                                    <option value='Contra pessoas com deficiência.'>Contra pessoas com deficiência.</option>
                                    <option value='Outras.'>Outras.</option>
                                    <option value='Não se aplica.'>Não se aplica.</option>
                            </select>
                        </span>

                        <span>
                            <label for="vinculacao_esteriotipo">Quando da apresentação de alguns destes grupos há, na maior parte das cenas,
                                    a veiculação de estereótipos?</label>
                            <select name="vinculacao_esteriotipo" id="vinculacao_esteriotipo">
                                    <option value='Sim'>Sim</option>
                                    <option value='Não'>Não</option>
                            </select>
                        </span>

                        <span>
                            <label for="intensidade_comportamento_descriminatorio">Quando à intensidade da presença de comportamento discriminatório
                                </label>
                            <select name="intensidade_comportamento_descriminatorio" id="intensidade_comportamento_descriminatorio">
                                    <option value='Acidentalmente verificado.'>Acidentalmente verificado.</option>
                                    <option value='Medianamente verificado.'>Medianamente verificado.</option>
                                    <option value='Muito verificado.'>Muito verificado.</option>
                            </select>
                        </span>

                        <span>
                            <label for="comportamento_descriminatorio">Quanto ao comportamento discriminatório.
                                </label>
                            <select name="comportamento_descriminatorio" id="comportamento_descriminatorio">
                                    <option value='É condenado.'>É condenado.<option>
                                            <option value='É valorizado.'>É valorizado.<option>
                                            <option value='É apresentado em um contexto histórico e político, quando causas, consequências e soluções são sublinhadas.'>É apresentado em um contexto histórico e político, quando causas, consequências e soluções são sublinhadas.<option>
                                            <option value='Os agressores são punidos.'>Os agressores são punidos.<option>
                                            <option value='Os agressores não são punidos.'>Os agressores não são punidos.<option>
                                            <option value='Os agressores são valorizados/recompensados.'>Os agressores são valorizados/recompensados.<option>
                            </select>
                        </span>
                    </div>
                </div>
                
            </div>
        </form>
            <div class='rightposition'>
                <div class='bookBox'>
                    <form action="" class='formInputSearch'>
                        <input type="text" placeholder="Pesquise" name='pesquisa'>
                        <button>
                            <i class="material-icons"> search </i>
                        </button>
                    </form>
                    
                    <div>
                        <span>
                            <label>CÓD: 252</label>
                            <p>Lorem ipsum lorem ipsum</p>
                        </span>
                    </div>
                    <span class='gradient'></span>
                </div>
                
                <div class='Userplace'>
                    <img src="img/icon6.png" alt="Icone Usuário - SAAV">
                    <h5>Pedro Rago</h5>
                    <p>Você</p>
                </div>
                <div class='Userplace'>
                    <h5 style='margin-left:0 !important;'>Analises realizadas</h5>
                </div>
                
                <div class='HistoryAnalyzes'>
                    <!-- 0 ANLISES -->
                    <h1>0</h1>
                    <p>Análises</p>
                </div>
            </div>
            
            
            
        </div>
        
        
    </main>
    
    <% include includes/footer.ejs %>
    <script src="/js/salvarAnalise.js"></script>
    
    