<% include includes/header.ejs %>


<!-- View de perfil de programação -->

<main class='mainsProfile'>
    
    <h2>Programação: <strong> <%=program.id%></strong></h2>
    
    
    <div class='container'>
        
        <div class='contentVideo contentVideoProfile'>
            <div class='VideoContentProfile'>
                
                <div class='videoPreviewProfile'>
                    <video class="videoPreview videoPlayerProfile" controls src="<%=program.link_video%>">
                    </video>
                </div>
                <div class='infoFile' style='opacity:1;'>
                    <label>Arquivo no formato: <p id='FormatoArquivo'>MP4</p></label>
                    <label>Nome do arquivo:    <p id='NomeArquivo'><%=program.nome%> </p></label>
                </div>
                <a href="/edit_program" class='botaoCinza'>Editar</a>
                <a href="#" class='botaoVermelho'>Remover</a>
                <a href="/analyze/<%= program.id %>" class='botaoAzul'>Analisar</a>
                
            </div>
            
            <div class='ProgramDesc'>
                
                <span>
                    <label for="">NOME DA PROGRAMAÇÃO</label>
                    <p><%=program.nome%></p>
                </span>
                
                <span>
                    <label for="">DIA DE EMISSÃO</label>
                    <p>Não registrado</p>
                </span>
                <span>
                    <label for="">DATA DE EMISSÃO</label>
                    <p><%= program.dia_emissao.toLocaleDateString() %></p>
                </span>
                
                <span>
                    <label>EMISSORA</label>
                    <p>Não registrado</p>
                </span>
                <span>
                    <label>STATUS</label>
                    <p><%=program.status%></p>
                </span>
                <span>
                    <label>FORMATO DE VÍDEO</label>
                    <p>MP4</p>
                </span>
                <span>
                    <label>CLASSIFICAÇÃO</label>
                    <p>Não registrado</p>
                </span>
                <span>
                    <label>INÍCIO DA PROGRAMAÇÃO</label>
                    <p><%= program.hora_inicio.toLocaleTimeString().slice(0,-3)%>H</p>
                </span>
                <span>
                    <label>FIM DA PROGRAMAÇÃO</label>
                    <p><%=program.hora_fim.toLocaleTimeString().slice(0,-3)%>H</p>
                </span>
            </div>
            
        </div>
        
        
    </div>
    
    <legend id='DireitosReservados'>Sistema de Análise Audiovisual - <strong>SAAV</strong><br>Todos os direitos reservados</legend>
    
</main>



<% include includes/footer.ejs %>
