<% include includes/header.ejs %>


<!-- View de listagem de programação -->

<main>
    
    <h2>Listagem de<strong> Programação</strong></h2>
    
    
    <div class='container'>
        
        <span class='headerContent'>
            <h3>TODAS AS PROGRAMAÇÕES</h3>

            <form action="/program-filtro" class='formSearchFinal' method="post">
                <input id='filtro-dia-emissao' type="text" placeholder="18/12/2018" name='dia_emissao'>
                <select name="emissora" id="emissora">
                    <option value="">Informe a emissora</option>
                    <option value='SBT'>SBT</option>
                    <option value='GLOBO'>GLOBO</option>
                    <option value='RECORD'>RECORD</option>
                </select>
                <select name="status" id="status">
                    <option value="">Informe o status</option>
                    <option value='Não Analisado'>Não Analisado</option>
                    <option value='Analisado'>Analisado</option>
                </select>
                <button type='submit'>Filtrar</button>
                <% if (user.admin==1) { %>

                    <a href="/singUp_program" style='margin-right: 0em;'>Cadastrar</a>
                   
                <% } %>
        </form>


        </span>
        
        <div class='listProgram'>
            <% for(var i=0; i<programs.length; i++) {%>
                    <div class='listBox'>
                            <span>
                                <label>TÍTULO DA PROGRAMAÇÃO</label>
                                <p><%= programs[i].nome %></p>
                            </span>
                            <span>
                                <label>DATA DE TRANSMISSÃO</label>
                                <p><%= moment(moment.utc(programs[i].dia_emissao)).format("DD/MM/YYYY") %></p>
                            </span>
                            <span>
                                <label>HORÁRIO DE TRANSMISSÃO</label>
                                <p><%= programs[i].hora_inicio.toLocaleTimeString()%></p>
                            </span>
                            <span>
                                <label>EMISSORA</label>
                                <p><%= programs[i].emissora %></p>
                            </span>
                            <span>
                                <label>ID</label>
                                <p><%= programs[i].id %> </p>
                            </span>
                            <span>
                                <label>ESTADO</label>
                                <p><%= programs[i].status %> </p>
                            </span>
                            <span class='buttonsList'>
                                <a href="profile_program/<%= programs[i].id %>">
                                    <img src="img/icon8.png" alt="">
                                    <div class='titleBox'>
                                        <span></span>
                                        <p>Visualizar</p>
                                    </div>
                                </a>
                                <a href="/analyze/<%= programs[i].id %>">
                                    <img src="img/icon9.svg" alt="">
                                    <div class='titleBox'>
                                        <span></span>
                                        <p>Analisar</p>
                                    </div>
                                </a>
                            </span>
                        </div>
            <% } %>
           

           
        </div>
        
    </div>
    
    <legend id='DireitosReservados'>Sistema de Análise Audiovisual - <strong>SAAV</strong><br>Todos os direitos reservados</legend>
    
</main>



<% include includes/footer.ejs %>

